@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Lato:wght@400;500&display=swap");

/*reset and variabels*/
:root {
  --primary-color: cyan;
  --secondary-color: white;
  --background-color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

section {
  height: 100dvh;
  scroll-margin-top: 5rem;
}

/*navigation bar*/
.menu {
  display: none;
}

.navbar {
  top: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: clamp(4rem, 6vw, 7rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-bottom: solid clamp(1px, 0.1vw, 3px) var(--primary-color);
  position: fixed;
}

#Logo {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2rem, 3vw, 4rem);
  padding-left: 2.5%;
  color: var(--primary-color);
  cursor: pointer;
}

.navlist {
  color: var(--primary-color);
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-size: clamp(1rem, 2vw, 2.5rem);
  font-weight: bold;
  display: flex;
  gap: clamp(1rem, 2vw, 2.5rem);
  padding-right: 2.5%;
}

.navlink {
  color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: ease-in-out, 0.25s;
  cursor: pointer;
}

.navlink:hover {
  color: var(--background-color);
  background-color: var(--primary-color);
}

#Resume {
  color: var(--background-color);
  background-color: var(--primary-color);
  border: solid clamp(1px, 0.1vw, 3px) var(--primary-color);
}

#Resume:hover {
  color: var(--primary-color);
  background-color: var(--background-color);
}

/*hero section*/
.Home {
  min-height: 100dvh;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  padding: 0 clamp(3rem, 6vw, 8rem);
}

.Home-content {
  flex: 1;
}

.Home-content h1 {
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2.5rem, 5vw, 8rem);
  max-width: 40rem;
  margin-bottom: 1rem;
  background: linear-gradient(
    45deg,
    var(--primary-color) 40%,
    var(--secondary-color) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Home-content p {
  color: var(--secondary-color);
  font-family: "Lato", sans-serif;
  font-size: clamp(1rem, 1.5vw, 3rem);
  max-width: 50rem;
  margin-bottom: 0.5rem;
}

.Profile-picture {
  height: clamp(20rem, 26vw, 30rem);
  width: clamp(20rem, 26vw, 30rem);
  border-radius: 50%;
  padding: 1rem;
  border: solid 5px var(--primary-color);
  object-fit: cover;
  box-shadow: 0 0 8rem var(--primary-color);
}

.Profile {
  align-items: center;
  position: relative;
  animation: floating 1.5s ease-in-out infinite;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
}

.cta {
  display: inline-block;
  color: var(--background-color);
  background-color: var(--primary-color);
  font-family: "Lato", sans-serif;
  font-size: clamp(1rem, 1vw, 3rem);
  font-weight: 700;
  text-align: center;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: solid 1px var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cta:hover {
  color: var(--primary-color);
  background-color: var(--background-color);
}

/*Skills Section*/
.Skills {
  min-height: 100dvh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 clamp(3rem, 3vw, 8rem);
}

.Skills h1 {
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2rem, 4vw, 7rem);
  text-align: center;
  padding: 0.5rem;
}

.Skill-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 0 2.5rem;
}

.skill-content {
  background-color: rgb(18, 18, 18);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  transition: all 0.25s ease-in-out;
}

.costum-icon {
  color: var(--primary-color);
  font-size: clamp(1.5rem, 2vw, 3rem);
  display: block;
}

.Skills h2 {
  color: var(--secondary-color);
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.5rem, 1.5vw, 6rem);
}

.Skills p {
  color: var(--secondary-color);
  font-family: "Lato", sans-serif;
  font-size: clamp(1rem, 1vw, 3rem);
}

.skill-content:hover {
  border: solid 1px var(--primary-color);
  box-shadow: 0 0 2.5rem var(--primary-color);
}

.tools-icon img {
  max-width: 7rem;
  border-radius: 50%;
  background-color: rgb(18, 18, 18);
  padding: 0.75rem;
  transition: all 0.25s ease-in-out;
  animation: scalling 1.2s ease-in-out infinite;
}

.tools-icon {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

@keyframes scalling {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.tools-icon img:nth-child(1) {
  animation-delay: 0s;
}

.tools-icon img:nth-child(2) {
  animation-delay: 0.3s;
}

.tools-icon img:nth-child(3) {
  animation-delay: 0.6s;
}

.tools-icon img:nth-child(4) {
  animation-delay: 0.9s;
}

.tools-icon img:nth-child(5) {
  animation-delay: 1.2s;
}

.tools-icon img:hover {
  border: solid 1px var(--primary-color);
  box-shadow: 0 0 1rem var(--primary-color);
}

/*Contact Section*/
.Contact {
  min-height: 100dvh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 clamp(3rem, 3vw, 8rem);
}

.Contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: stretch;
  gap: 5rem;
  border: solid 5px var(--primary-color);
  border-radius: 1rem;
  padding: 2.5%;
  width: 80%;
}

.Contact-form {
  padding: 1rem;
  border: solid 0.25rem var(--primary-color);
  border-radius: 1rem;
}

.form {
  color: var(--secondary-color);
  font-family: "Lato", sans-serif;
  font-size: clamp(1rem, 1vw, 3rem);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.form-format {
  display: flex;
  flex-direction: column;
}

.form-format input,
textarea {
  padding: 0.15rem;
  border-radius: 0.5rem;
}

.Contact-submit {
  color: var(--background-color);
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  background-color: var(--primary-color);
  border: solid 3px var(--primary-color);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.Contact-submit:hover {
  color: var(--primary-color);
  background-color: var(--background-color);
}

.address {
  color: var(--secondary-color);
  text-align: right;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
}

.Contact h1 {
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-size: clamp(2rem, 4vw, 3rem);
}

.address h2 {
  font-size: clamp(1.2rem, 2vw, 2rem);
  letter-spacing: 0.15rem;
  margin-bottom: 0.5rem;
}

.address p {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.sosmed-icon {
  padding-top: 1rem;
  color: var(--primary-color);
  font-size: 2.5rem;
  cursor: pointer;
}

.sosmed-icon a {
  color: var(--primary-color);
}

footer {
  font-family: "Lato", sans-serif;
  color: var(--background-color);
  background-color: var(--primary-color);
  text-align: center;
  padding: 1rem;
}

footer span {
  font-weight: 700;
}

/*Responsive for Ultra Wide*/
@media (min-width: 2560px) {
  html {
    font-size: 125%;
  }

  .Home-content p {
    max-width: 60rem;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  html {
    font-size: 70%;
  }

  #Logo {
    font-size: 150%;
  }

  .menu {
    display: flex;
    color: var(--primary-color);
    font-size: 2.5rem;
    padding-right: 2.5%;
    z-index: 1100;
    cursor: pointer;
  }

  .navlist {
    position: absolute;
    top: 5rem;
    right: -100%;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.75);
    display: inline-block;
    text-align: right;
    transition: right 0.25s ease-in-out;
    border: solid 1px var(--primary-color);
  }

  .navlist.active {
    right: 0;
  }

  .navlist li {
    color: var(--background-color);
    border: none;
    margin: 2rem;
    margin-right: 0;
  }

  .Home {
    padding-top: clamp(9rem, 20vh, 18rem);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    gap: 1.5rem;
  }

  .Profile {
    padding: 0;
  }

  @keyframes floating {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0.5rem);
    }
  }

  .Skills {
    padding-top: clamp(7rem, 10vh, 14rem);
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
    gap: 1rem;
  }

  .Skill-grid {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 2rem;
  }

  .Skills h2 {
    font-size: 2rem;
  }

  .Skills p {
    font-size: 1.5rem;
  }

  .tools-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .Contact {
    padding-top: clamp(7rem, 10vh, 14rem);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .Contact-grid {
    display: block;
  }

  .Contact-form h2,
  .form {
    font-size: 1.5rem;
  }

  .address {
    padding-top: 2rem;
    text-align: center;
  }
}
